<div class="container-fluid" style="padding-top:70px;padding-bottom:70px">
   <h1>Projects</h1>
   <!-- good css: https://bootsnipp.com/snippets/exE6D
   vertical: https://bootsnipp.com/snippets/E1XZa -->

   <div class="col-xs-12 ">

      <nav>
         <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
            <a *ngFor="let project of projects; index as id"
               class="nav-item nav-link" data-toggle="tab" role="tab"
               [ngClass]="{'active focus': project.id===projects[0].id}"
               id="nav-{{project.clientId}}-tab" href="#nav-{{project.clientId}}"
               attr.aria-controls="nav-{{project.clientId}}" attr.aria-selected="false"
               [attr.aria-selected]="project.id===projects[0].id ? 'true' : 'false'">
               {{project.clientName}}
            </a>

            <!-- <a class="nav-item nav-link active" id="nav-efm-tab" data-toggle="tab" href="#nav-efm" role="tab" aria-controls="nav-efm" aria-selected="true">
               Enterprise Fleets
            </a>
            <a class="nav-item nav-link" id="nav-ameren-tab" data-toggle="tab" href="#nav-ameren" role="tab" aria-controls="nav-ameren" aria-selected="false">
               Ameren
            </a> -->
         </div>
      </nav>

      <div class="tab-content c-tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
         <div *ngFor="let project of projects; index as id"
            class="tab-pane fade c-tab-pane" role="tabpanel" 
            id='nav-{{project.clientId}}' attr.aria-labelledby="nav-{{project.clientId}}-tab"             
            [ngClass]="{'active show': project.id===projects[0].id}">
            <div>
               <h3>Responsibilities</h3>
               <ul>
                  <li *ngFor="let responsibility of project.responsibilities">{{responsibility}}</li>
               </ul>

               <h3>Technologies</h3>
               <ul>
                  <li *ngFor="let technology of project.technologies">{{technology}}</li>
               </ul>

               <h3>Projects</h3>
               <div *ngFor="let app of project.applications; index as id">
                  <h5>{{app.name}}</h5>
                  <p class="app-overview">{{app.overview}}</p>
               </div>
            </div>
         </div>

         <!-- <div class="tab-pane fade show active" id="nav-efm" role="tabpanel" aria-labelledby="nav-efm-tab">
         EFM Details
         </div>
         <div class="tab-pane fade" id="nav-ameren" role="tabpanel" aria-labelledby="nav-ameren-tab">
         Ameren Details
         </div>
         <div class="tab-pane fade" id="nav-winchester" role="tabpanel" aria-labelledby="nav-winchester-tab">
         Winchester details
         </div>
         <div class="tab-pane fade" id="nav-equifax" role="tabpanel" aria-labelledby="nav-equifax-tab">
         Equifax Details
         </div>
         <div class="tab-pane fade" id="nav-att" role="tabpanel" aria-labelledby="nav-att-tab">
         ATT details
         </div> -->
      </div>


      <!-- <tabset>
         <tab heading="Enterprise Fleets" customClass="customClass">
            <h2>05/01/2018 – TILL DATE</h2>
            Design & Development of RESTFull APIs and AngularJS based websites to manager and process citations of leased vehicles.
            <h1>Technologies</h1>
            .NET 4.6, C#, WCF, ASP.NET MVC, AngularJS, Angular, Vue.js, NodeJS, Jasmine, Karma, JavaScript, HTML, CSS, Entity Framework, SoapUI, Fiddler, 
            SQL Server, State Machine, SSIS, OBI, 
            Jira, Kanban, Confluence, Agile Methodologies 

         </tab>
         <tab heading="Ameren" customClass="customClass">Ameren</tab>
         <tab heading="Winchester Ammunition" customClass="customClass">Winchester Ammunition</tab>
         <tab heading="Equifax" customClass="customClass">Equifax</tab>
         <tab heading="AT&amp;T" customClass="customClass">AT&amp;T</tab>
      </tabset> -->


      
      
   </div>
   
</div>