<div class="container-fluid" style="padding-top:70px;padding-bottom:70px">
   <h1>{{title}}</h1>

   <div class="row">

      <div class="col-sm-12 col-md-11 offset-md-1">
         <div *ngFor="let skill of skills; index as id">
            <h4>{{skill.sec}}</h4>
            <div class="row mb-2" *ngFor="let item of skill.items; index as id">
               <div class="column col-sm-2" style="text-align: right;">{{item.nm}}</div>
               
               <div class="column col-sm-10 col-md-8">
                  <div class="progress">          
                     <div class="progress-bar bg-success" role="progressbar"
                        [ngClass]="getType(item.rt)"
                        [style.width]="item.rt*10 + '%'"
                        aria-valuemin=0 aria-valuemax=10>
                        {{item.rt}}/10
                     </div>
                  </div>
               </div>
               
               <!-- <progressbar class="column col-sm-10 col-md-8" [max]="max" [value]="item.rt" [type]="getType(item.rt)">
                  <span class="text-nowrap">{{item.rt}}/10</span>
               </progressbar> -->

            </div>
         </div>
      </div>
   </div>
</div>