<div data-spy="scroll" data-target=".sticky-nav" data-offset="50">

  <!-- Top Navigation -->
  <topnav></topnav>
  
  <!-- Sidebar Navigation -->
  <div class="container-fluid">
    <div class="row">
        <div class="col-sm-0 col-md-1 d-none d-md-block">
          <div class="sidebar-v1">
            <div style="height: 15%">            
            </div>

            <div class="sidebar-icon-container" style="height: 60%">
              <!-- <a href="#home"><i class="fas fa-home" ></i></a> -->
              <a href="#about"><i class="fas fa-user"></i></a>
              <a href="#professionalSummary"><i class="fab fa-themeco"></i></a>
              <a href="#skills"><i class="fas fa-tools"></i></a>
              <a href="#projects"><i class="fas fa-laptop-code"></i></a>
              <a href="#education"><i class="fas fa-user-graduate"></i></a>
              <a href="#contact"><i class="fas fa-id-card"></i></a>
            </div>
            
            <div style="height: 25%;background-color: aqua">
              <a href="https://www.linkedin.com/in/nishant817/"><i class="fab fa-linkedin-in"></i></a>
              <a href="https://github.com/nishant817"><i class="fab fa-github"></i></a>
              <a href="mailto:nishant817@outlook.com"><i class="far fa-envelope"></i></a>
            </div>
          </div>
        </div>
  
      <div class="col-sm-12 col-md-10 main">
        <!-- <div id="home" class="container-fluid" style="padding-top:70px;padding-bottom:70px;">
          <h1>Section 1</h1>
          {{title}}
        </div> -->
        
        <hr class="separator" />
  
        <div id="about">
          <about></about>
        </div>
        
        <hr class="separator" />
  
        <div id="professionalSummary">
          <prof></prof>
        </div>
  
        <div id="skills">
          <skills></skills>
        </div>
        
        <hr class="separator" />
  
        <div id="projects" class="container-fluid" style="padding-top:70px;padding-bottom:70px">
          <projects></projects>
        </div>
        
        <hr class="separator" />

        <div id="education">
          <education></education>
        </div>
        
        <hr class="separator" />  
  
        <div id="contact">
          <contact></contact>
        </div>
        
        <hr class="separator" />

      </div>
  
    </div>
  </div>
  
</div>

<router-outlet></router-outlet>
