<div class="container-fluid">
   <h1>{{title}}</h1>

   <carousel>
      <slide>
         <h2 style="width:100%;">
            An experienced and accomplished Software Engineering with 15+ years of demonstrated history of design & development of enterprise level applications and services.
         </h2>
      </slide>
      <slide>
         <h2 style="width:100%;">Here is the second item</h2>
      </slide>
   </carousel>
</div>



<!-- <div id="myCarousel" class="carousel slide" data-ride="carousel">
   
   <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
   </ol> 

   
   <div class="carousel-inner">
      <div class="carousel-item active">
      <h2 style="width:100%;">
         An experienced and accomplished Software Engineering with 15+ years of demonstrated history of design & development of enterprise level applications and services.
      </h2>
      </div>

      <div class="carousel-item">
      <h2 style="width:100%;">Here is the second item</h2>
      </div>

      <div class="carousel-item">
      <h2 style="width:100%;">Here is the third item</h2>
      </div>

   <div class="carousel-item">
      <h2 style="width:100%;">And the fourth item</h2>
      </div>
   </div> 

   
   <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <i class="fas fa-chevron-circle-left" ></i>
      <span class="sr-only">Previous</span>
   </a>
   <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <i class="fas fa-chevron-circle-right" ></i>
      <span class="sr-only">Next</span>
   </a>
</div> -->