/* .carousel-item {
   background-color: beige;
   height: 500px;
   text-align: center;
   padding: 10% 20% 0% 20%;
 } */
 

::ng-deep .slide {
  width: 100%;
  padding: 50px 100px !important;
  min-height: 500px;
  background-color: sandybrown;
}
/* .carousel-item {
  margin: 50px;
} */
::ng-deep .carousel-control
{
  font-size: 80px;
  display: block;
  width: 50px;
  height: 50px;
  background: transparent;
  top: 46%;
  border-radius: 50%;
  line-height: 1;
}
::ng-deep .carousel-control span {
  background: black !important;
  color: white;
  display: block;
  width: 50px;
  height: 50px;
  top: 46%;
  border-radius: 50%;
  line-height: 1;
}

/* ::ng-deep .carousel-control-previous {

} */

/* :host >>>.carousel-control span:before {
  display: block;
  line-height: 0.45;
} */
:host >>> .carousel-indicators li {
  width: 50px;
  height: 10px;
  border-radius: 25%;
  transition: 1s;
  margin: 10px;
}

h2 {
  color: rebeccapurple;
  margin: 40px;
}

.animated {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
 0% {opacity: 0;}
 100% {opacity: 1;}
}
@keyframes fadeIn {
 0% {opacity: 0;}
 100% {opacity: 1;}
}
.fadeIn {
 -webkit-animation-name: fadeIn;
 animation-name: fadeIn;
}

.content {
  height: 250px;
  background: burlywood;
}
.content h2:before {
  content: '[';
  left: 0;
}
.content h2:after {
  content: ']';
  position: absolute;
  right: 0;
}

.content h2:after, .content h2:before {
  position: absolute;
  top: 10%;
  
  color: #16a085;
  font-size: 250px;
  line-height: 60px;
  
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}